<div class="center">
    <h1>{{title}}!</h1>
</div>
<div class=" container list_card">
    <div class="card" *ngFor="let pokemon of pokemonList">
        <div (click)="goToPokemon(pokemon)">


            <div class="top-section" appBorderCard>
                <div class="border"></div>
                <div class="icons">
                    <div class="logo">
                        <img [src]="pokemon.picture" alt="">
                    </div>
                </div>
            </div>
            <div class="bottom-section">
                <span class="title">{{pokemon.name}}</span>
                <div class="row row1">
                    <div class="item">
                        <span class="big-text">{{pokemon.hp}}</span>
                        <span class="regular-text">HP</span>
                    </div>
                    <div class="item">
                        <span class="big-text">{{pokemon.types}}</span>
                        <span class="regular-text">Types</span>
                    </div>
                    <div class="item">
                        <span class="big-text">{{pokemon.cp}}</span>
                        <span class="regular-text">CP</span>
                    </div>
                </div>
                <span class="date"><b>Date: </b>{{pokemon.created | date}}
                </span>
                <hr class="hr">
                @for (type of pokemon.types; track $index) {
                <span class="{{type | pokemonTypeColor}}">
                    {{type}}
                </span>
                }
            </div>
        </div>
    </div>
</div>