<!-- Bouton toggle menu -->
<main>

</main>
<nav class="nav_menu">
  <div class="nav-wrapper">
    <a href="#" class="brand-log center">
      PokeDex
    </a>
  </div>
  <button (click)="toggleMenu()" class="menu-button">
    <i class="fa fa-bars"></i>
  </button>
</nav>
<!-- MENU OVERLAY -->
<div class="overlay" *ngIf="menuVisible">
  <div class="wrap">
    <ul class="wrap-nav">
      <li><a href="#">About</a>
        <ul>
          <li><a href="#">About Company</a></li>
          <li><a href="#">Designers</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Pets</a></li>
        </ul>
      </li>
      <li><a href="#">Services</a>
        <ul>
          <li><a href="https://www.google.hr/">Web Design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Apps</a></li>
          <li><a href="#">Graphic design</a></li>
          <li><a href="#">Branding</a></li>
        </ul>
      </li>
      <li><a href="#">Work</a>
        <ul>
          <li><a href="#">Web</a></li>
          <li><a href="#">Graphic</a></li>
          <li><a href="#">Apps</a></li>
        </ul>
      </li>
    </ul>

    <div class="social">
      <a href="http://mario-loncarek.from.hr/">
        <div class="social-icon"><i class="fa fa-facebook"></i></div>
      </a>
      <a href="#">
        <div class="social-icon"><i class="fa fa-twitter"></i></div>
      </a>
      <a href="#">
        <div class="social-icon"><i class="fa fa-codepen"></i></div>
      </a>
      <a href="#">
        <div class="social-icon"><i class="fa fa-behance"></i></div>
      </a>
      <a href="#">
        <div class="social-icon"><i class="fa fa-dribbble"></i></div>
      </a>
      <p>
        Created by : Ind Juliano<br>
        Site: <a href="http://Ind@gmail.com/">mbola_tsy_eh_gmail</a>
      </p>
    </div>
  </div>
</div>

<!-- <input type="text" #input (keyup.enter)="selectPokemon(input.value)" /> -->

<!-- <input type="number"
    (click)="selectPokemon($event)"> -->


<!--<ul *ngFor="let pokemon of pokemonList">
      <li>{{pokemon.name}}</li>
    </ul> -->




<!-- <p (click)="selectPokemon($event)">
        {{ pokemonList[0].name }}
      </p> -->

<!-- Code en dure -------
    <p (click)="selectPokemon(pokemonList[0])">
        {{ pokemonList[0].name }}
      </p> -->

<!-- ----------------------------  -->
<!-- From Uiverse.io by Smit-Prajapati -->
<router-outlet />