<div *ngIf="pokemon" class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center pokemon-title">{{ pokemon.name }}</h2>
        <div class="card horizontal hoverable pokemon-card">
            <div class="card-image">
                <img *ngIf="pokemon.picture" [src]="pokemon.picture" alt="{{ pokemon.name }}" class="pokemon-image" />
                <div *ngIf="!pokemon.picture" class="pokemon-image">404</div>

            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered custom-table">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ pokemon.name }}</strong></td>
                            </tr>
                            <tr>
                                <td>Points de vie</td>
                                <td><strong>{{ pokemon.hp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Dégâts</td>
                                <td><strong>{{ pokemon.cp }}</strong></td>
                            </tr>
                            <tr>
                                <td>Types</td>
                                <td>
                                    <span *ngFor="let type of pokemon.types"
                                        class="pokemon-type {{ type | pokemonTypeColor }}">
                                        {{ type }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Date de création</td>
                                <td><em>{{ pokemon.created | date: 'dd/MM/yyyy' }}</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action center-align">
                    <a (click)="goToPokemonList()" class="back-button">← Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 *ngIf="!pokemon" class="center red-text text-darken-2">Aucun pokémon à afficher !</h4>